<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/shared/html_head' %>
  </head>
  <body>

    <%= render partial: 'layouts/shared/header' %>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <%= yield :support_extra %>
          <%= render partial: "support" %>
          <%= yield :support_below %>
        </div><!--/span-->
        <div class="span9">
          <div class="page-title">
            <%= yield :title %>
          </div>
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <%= render partial: 'layouts/shared/footer' %>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>

  </body>
</html>
